.card-container {
	max-width: 300px;
	border-bottom-left-radius: 3rem;
	border-top-right-radius: 3rem;
	/* padding: 2rem; */
	margin: 1rem 3rem 0 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.like-button {
	cursor: pointer;
}

.image { 
	border-top-right-radius: 3rem;
}

.like-button {
	margin-bottom: .75rem;
}